/.idea
l4app/node_modules
l4app/public/build
l4app/public/hot
l4app/public/storage
l4app/storage/*.key
l4app/vendor
l4app/.env
l4app/.env.backup
l4app/.phpunit.result.cache
l4app/Homestead.json
l4app/Homestead.yaml
l4app/auth.json
l4app/npm-debug.log
l4app/yarn-error.log

